body{
	background-color: #131722;
	color: #ffffff;
}

.content{
    background-color: #181d2b;
}

/* REST */
.triangle-down-white{
    border-top: 45px solid #181d2b;
}
.triangle-down-gray{
    border-top: 45px solid #131722;
}
.triangle-down-black{
    border-top: 45px solid #1e2331;
}
.triangle-down-blue{
    border-top: 45px solid #1e2331;
}
.popover{
    color: #0a0d14;
}
.form-control{
    color: #949cb0;
    background-color: #141824;
    border: 1px solid #262d40;
    height: 40px;
}
.form-control::placeholder{
    color: #949cb0;
} 
.form-control:focus {
    border-color: #394155;
    box-shadow: inset 0 1px 1px rgb(34, 39, 52),0 0 8px rgb(34, 39, 52);
}
.form-control:focus::placeholder{
    color: #ffffff;
}   
/* END REST */

/* SECTIONS */
.main-section{
    color: #0a0d14;
}
.second-section{
    background-color: #181d2b;
}
/* END SECTIONS */

/* HEADER */
.header{
    background-color: #181d2b;
}
.header-continer-head h3{
    background-color: #131722;
    -webkit-box-shadow: 2px 8px 0px -4px rgb(30, 36, 54);
    -moz-box-shadow: 2px 8px 0px -4px rgb(30, 36, 54);
    box-shadow: 2px 8px 0px -4px rgb(30, 36, 54);
}
.pin-anime-container .owl-prev, .pin-anime-container .owl-next{
    background-color: #131722;
    -webkit-box-shadow: 2px 8px 0px -4px rgb(30, 36, 54);
    -moz-box-shadow: 2px 8px 0px -4px rgb(30, 36, 54);
    box-shadow: 2px 8px 0px -4px rgb(30, 36, 54);
}
/* END HEADER */

/* HEADER NAVBAR */
.header-navbar{
    color: #0a0d14;
}
/* END HEADER NAVBAR */

/* WIDGETS */
.main-didget-head h3{
    background-color: #029dbc;
}
.tags-toggle{
    background-color: #0a0d14;
}
.widget{
    background-color: #181d2b;
}
.widget-head {
    border-bottom: 2px solid #252a39;
}
.widget-body ul li {
    border-bottom: 1px solid #222737;
}
.widget-body ul li a:hover {
    color: #ffffff;
}
.main-widget-body .owl-prev, .main-widget-body .owl-next{
    background-color: #0a0d14;
    border: 1px solid #0a0d14;
}
.main-didget-head .see-all{
    color: #029dbc;
    border: 1px solid #029dbc;
}
#wp-calendar caption { color: #ffffff; }
#wp-calendar tbody td { background: #1c2232; border: 1px solid #131722;}
#wp-calendar tbody td:hover { background: #008cb4; color: #ffffff; }
/* END WIDGETS */

/* FOOTER */
.footer{
    background-color: #0a0d14;
    color: #949cb0;
}
/* END FOOTER */

/* ANIME LIST */
.anime-card-container{
    background-color: #1e2436;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
}
/* END ANIME LIST */

/* ANIME CARDS */
.anime-card-title{
    color: #ffffff;
    border-bottom: 1px solid #1e2436;
}
.anime-card-title a{
    color: #ffffff;
}
.anime-card-status{
    background-color: #131722;
}
/* END ANIME CARDS */

/* EPISODES CARDS */
.episodes-card-container{
    background-color: #1e2436;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
}
.episodes-card-type{
    background-color: #131722;
}
.ep-card-anime-title {
    color: #ffffff;
}
.ep-card-anime-title a {
    color: #ffffff;
}
/* END EPISODES CARDS */

/* POSTS CARDS */
.post-card-container{
    background-color: #1e2436;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.18);
}
.post-card-details{
    background-color: #1e2436;
}
.post-card-statistics{
    background-color: #131722;
}
.post-card-title a{
    color: #ffffff;
}
/* END POSTS CARDS */

/* ANIME PAGE */
.search-for-episode .form-control {
    color: #ffffff;
    background-color: #1e2436;
    border: 1px solid #1e2436;
}
.search-for-episode .form-control::placeholder{
    color: #ffffff;
}
.search-for-episode .form-control:focus {
    border-color: #394155;
    box-shadow: inset 0 1px 1px rgb(34, 39, 52),0 0 8px rgb(34, 39, 52);
}
.search-for-episode .form-control:focus::placeholder{
    color: #8d8d8d;
}
/* END ANIME PAGE */

/* POST INFO CONTENT */
.user-post-info-content{
    background-color: #131722;
}
/* END POST INFO CONTENT */

/* EPISODE PAGE */
.all-episodes{
    background-color: #1c2232;
}
.all-episodes-head{
    background-color: #131722;
}
.search-in-episodes-list{
    background-color: #131722;
}
.search-in-episodes-list .form-control {
    color: #949cb0;
    background-color: #1b1f2d;
    border: 1px solid #1e2436;
}
.search-in-episodes-list .form-control:focus {
    border-color: #394155;
    box-shadow: inset 0 1px 1px rgb(34, 39, 52),0 0 8px rgb(34, 39, 52);
}
ul.all-episodes-list li{
    border-bottom: 1px solid #242b3e;
}
ul.all-episodes-list li a{
    color: #949cb0;
}
ul.quality-list li:first-child{
    background-color: #0a0d14;
}
.episode-watch-conteiner .nav-tabs > li > a {
    background-color: #131722;
}
.episode-watch-conteiner .nav-tabs > li > a:hover {
    background-color: #0a0d14;
}
.watch-fansubs-option .nav-tabs > li > a {
    border: 1px solid #181d2b;
}
.watch-fansubs-option .nav-tabs > li.active > a, .watch-fansubs-option .nav-tabs > li.active > a:hover, .watch-fansubs-option .nav-tabs > li.active > a:focus {
    background-color: #0a0d14 !important;
}
.no-links-found{
    color: #ffffff;
}
/* END EPISODE PAGE */

/* COMMENTS */
.comment-form{
	background-color: #131722;
}
.comment-form .form-control {
    background-color: #1b1f2d;
}
.comment-form .form-control::-moz-placeholder{color: #949cb0;}
.comment-form .form-control::-webkit-placeholder{color: #949cb0;}
.comment-form .form-control:-ms-placeholder{color: #949cb0;}
.commentlist .bypostauthor {
	background: url("../images/author_label.png") no-repeat scroll right bottom #131722 !important;
}
.single-comments .commentlist .bypostauthor {
    background: url("../images/author_label.png") no-repeat scroll right bottom #131722 !important;
}
.commentlist li {
	background-color: #1c2232;
}
.commentlist li ul.children li.bypostauthor {
	background-color: #1c2232;	
}
.commentlist .reply a {
	background-color: #0a0d14;
}
.commentlist .vcard img.avatar {
    border: 1px solid #313746;
}
/* END COMMENTS */

/* SEARCH BOX */
.stylish-input-group .input-group-addon{
    background: transparent !important; 
}
.search-box .input-group{
    border: 1px solid #252a39;
}
.search-box .input-group .form-control{
    color: #ffffff;
}
/* END SEARCH BOX */

/* SEARCH */
.search-content{
    background-color: #131722;
}
#hideSearch{
    background-color: #181d2b;
}
/* END SEARCH */

/* CATEGORY PAGE CONTENT */
.cat-post-details h2 a{
    color: #ffffff;
}
ul.category-posts-list li{
    border-bottom: 1px dotted #40475b;
}
/* END CATEGORY PAGE CONTENT */

/* PAGE/POST CONTENT */
.post-tags {
    background-color: #131722;
}
.post-tags a {
    color: #ffffff;
}
.post-tags a:hover {
    color: #009ec0;
}
.social a {
    background-color: #131722;
}
/* END PAGE/POST CONTENT */

/* ERRORS */
.page-404 .search-box{
    background-color: #181d2b;
}
/* END ERRORS */


/* BUTTONS */
.btn-secondary{
    background-color: #131722;
    border-color: #131722;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    background-color: #0a0d14;
    border-color: #0a0d14;
}
/* END BUTTONS */

/* FILTER SECTION */
.anime-filter-options .btn-default {
    background-color: #181d2b;
    border: 1px solid #2d354a;
}
.e-alphabetical-filter .pagination > li > a, .e-alphabetical-filter .pagination > li > span, .a-alphabetical-filter .pagination > li > a, .a-alphabetical-filter .pagination > li > span {
    background-color: #181d2b;
    border: 1px solid #2d354a;
}
/* END FILTER SECTION */